{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "nginx",
      "image": "{{ REGISTRY }}:{{ VERSION }}-www-nginx",
      "essential": true,
      "memoryReservation": {{ DOCKER_MEMORY_NGINX }},
      "mountPoints": [
        {
          "sourceVolume": "awseb-logs-nginx",
          "containerPath": "/var/log/nginx/healthd"
        }
      ],
      "ulimits": [
        {
          "name": "nofile",
          "softLimit": 20000,
          "hardLimit": 201024
        }
      ],
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ]
    }
  ],
  "volumes": [
    {
       "name": "docker_sock",
       "host": {
            "sourcePath": "/var/run/docker.sock"
      }
    },
    {
       "name": "proc",
       "host": {
            "sourcePath": "/proc/"
      }
    },
    {
       "name": "cgroup",
       "host": {
            "sourcePath": "/cgroup/"
      }
    }
  ]
}